<template>
<div class="active">
  <!-- NavBar导航栏 -->
   <van-nav-bar title="活动" left-text="返回" left-arrow>
  <template #right>
    <van-icon name="search" size="18" />
  </template>
</van-nav-bar>

 <!-- Tab标签页 -->
 <van-tabs v-model="active2">
  <van-tab title="限时折扣"></van-tab>
</van-tabs>
  <!-- Card商品卡片  营销信息 -->
   <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
  <van-list
    v-model="loading"
    :finished="finished"
    finished-text="没有更多了"
    @load="onLoad"
  >
<!-- <van-cell v-for="item in list" :key="item" :title="item" /> -->
    <van-card
      v-for="item in list " :key="item"
  
      tag="限时秒杀"
      price="199"
      title="[打折秒杀]营养钙片"
      thumb="https://img01.yzcdn.cn/vant/ipad.jpeg"
      origin-price="299"
     
      />
    </van-list>
    </van-pull-refresh>

  <!-- 徽章提示 -->
  <van-tabbar v-model="active3">
        <van-tabbar-item name="home" icon="chat-o">首页</van-tabbar-item>
  <van-tabbar-item name="search" icon="star-o">活动</van-tabbar-item>
  <van-tabbar-item name="friends" icon="shop-o">购物车</van-tabbar-item>
  <van-tabbar-item name="setting" icon="user-o">我的</van-tabbar-item>
</van-tabbar>


</div>
</template>
<script>
//导入
import '@/assets/css/common.scss'
import {Toast }from 'vant'
export default {
    data() {
    return {
      active: 2,
      list: [],
      active2: 0, 
      loading: false,
      finished: false,
      refreshing: false,
      active3:'home'
    };
  },
  methods:{
    // 上拉刷新
    onLoad() {
        // 显示loading
        Toast.loading({
            message: '加载中...',
            forbidClick: true,
            duration: 0,
        });

        //  模拟异步请求
      setTimeout(() => {
          
        // 手动清除 Toast
        Toast.clear();
        
        if (this.refreshing) {
          this.list = [];
          this.refreshing = false;
        }

        for (let i = 0; i < 10; i++) {
          this.list.push(this.list.length + 1);
        }
        this.loading = false;

        if (this.list.length >= 40) {
          this.finished = true;
        }
      }, 1000);
    },

    // 下拉触发
    onRefresh() {
      // 清空列表数据
      this.finished = false;
      // 重新加载数据
      // 将 loading 设置为 true，表示处于加载状态
      this.loading = true;
      this.onLoad();
    },
  }
}
</script>
<style lang="scss" scoped>
 .active{
      .van-nav-bar{
        background:lightblue;
        height:50px;
      }
  .van-card{
          
        ::v-deep .van-card__thumb{
             height:100px;
             width:200px;
         }
       ::v-deep  .price{
             color:red;
             font-size:30px;

         }
       ::v-deep .van-card__title{
             font-size:10px;
         }
         
     }
 }
</style>