<template>
  <div class="goodsDetails">
    <!-- 导航栏 -->
    <van-nav-bar
      title="标题"
      left-text="返回"
      left-arrow
      @click-left="onClickLeft"
    />

    <section>
      <!-- 轮播图 -->
      <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
        <van-swipe-item>
          <van-image :src="require('../../assets/imgs/swiper1.jpg')" />
        </van-swipe-item>
        <van-swipe-item>
          <van-image :src="require('../../assets/imgs/swiper2.jpg')" />
        </van-swipe-item>
        <van-swipe-item>
          <van-image :src="require('../../assets/imgs/swiper3.jpg')" />
        </van-swipe-item>
        <van-swipe-item>
          <van-image :src="require('../../assets/imgs/swiper4.jpg')" />
        </van-swipe-item>
      </van-swipe>

      <!-- 商品标题 -->
      <div class="goodstitle">
        <div class="tLeft">
          <span class="tit"
            >木村耀司登山旅行大学生户外情倡双肩背包外带小背包</span
          >
          <div class="price">￥169<s>￥269</s></div>
        </div>
        <div class="tRight">
          <b>❤</b>
          <p>已收藏</p>
        </div>
      </div>

      <div class="aa">*本产品由品牌商提供发货服务</div>

      <main>
        <div class="mTop">
          <img src="../../assets/imgs/brand.png" />
          <p>
            蜜蜂从植物的花中采取含水量约为75%的花蜜或分泌物，存入自己第二个胃中，在体内多种转化的作用下，经过15天左右反复酝酿各种维生素、矿物质和氨基酸丰富到一定的数值时，同时把花蜜中的多糖转变成人体可直接吸收的单糖葡萄糖、果糖，水分含里少于23%存贮到巢洞中，用蜂蜡密封。
          </p>
        </div>
        <div class="mBottom">
          <p>
            【品牌】&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;蜂之堂
          </p>
          <p>
            【产地】&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湖南长沙.
          </p>
          <p>
            【净含童】&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300g/罐
          </p>
          <p>【保质期】&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12月</p>
          <p>【生产日期】&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016/ 11/23</p>
          <p>【储蓄方法】&nbsp;&nbsp;&nbsp;&nbsp;低温避光存储</p>
          <p>【话用人群】&nbsp;&nbsp;&nbsp;&nbsp;老小皆宜</p>
        </div>
      </main>
    </section>
    <footer>
      <van-button class="car" type="default">
        <van-image :src="require('../../assets/imgs/car1.png')" />
      </van-button>
      <van-button type="warning">前往商城</van-button>
      <van-button type="info">加入购物车</van-button>
      <van-button type="primary">前往付款</van-button>
    </footer>
  </div>
</template>
         
<script>
// import { Toast } from "vant";
export default {
  methods: {
    onClickLeft() {
      //   Toast("返回");
      console.log("返回");
    },
  },
};
</script>
         
<style lang='scss' scoped>
@import "@/assets/css/common.scss";

.goodsDetails {
  display: flex;
  flex-direction: column;
  section {
    flex: 1;
    overflow-y: auto;
  }
  .van-nav-bar {
    height: px2rem(40);
    background: #69c3aa;

    /deep/ .van-nav-bar__title {
      color: #fff;
    }
    /deep/ .van-nav-bar__text {
      color: #fff;
    }
    /deep/ .van-icon {
      color: #fff;
    }
  }

  .my-swipe .van-swipe-item {
    color: #fff;
    font-size: px2rem(20);
    line-height: px2rem(150);
    text-align: center;

    .van-image {
      display: block;
      height: px2rem(150);

      image {
        height: 100%;
      }
    }
  }

  .goodstitle {
    width: 100%;
    height: px2rem(98);
    margin: px2rem(10);
    display: flex;
    justify-content: space-between;
    border-bottom: px2rem(1) solid #e5e5e5;

    .tLeft {
      color: #535353;
      .tit {
        font-size: px2rem(16);
        margin: px2rem(28) px2rem(10);
      }
      .price {
        padding-top: px2rem(26);
        color: #ff0000;
        font-size: px2rem(14);
      }
      s {
        color: #535353;
        font-size: px2rem(10);
      }
    }

    .tRight {
      width: px2rem(70);
      height: px2rem(40);
      border-left: px2rem(1) solid #e5e5e5;
      b {
        padding: px2rem(18);
        font-size: px2rem(20);
      }
      p {
        padding: px2rem(0) px2rem(10);
        font-size: px2rem(12);
      }
    }
  }
  .aa {
    color: #676767;
    padding-left: px2rem(10);
    padding-right: px2rem(10);
    line-height: px2rem(30);
    border-bottom: px2rem(10) solid #f5f6f7;
  }

  main {
    overflow-y: auto;
    flex: 1;

    .mTop {
      display: flex;
      padding: px2rem(12);
      border-bottom: px2rem(10) solid #f5f6f7;

      img {
        width: px2rem(40);
        height: px2rem(40);
        padding-top: px2rem(10);
      }
      p {
        line-height: px2rem(22);
      }
    }
    .mBottom {
      font-size: px2rem(10);
      margin-left: px2rem(16);
      margin-top: px2rem(12);
    }
  }

  footer {
    flex: 0;
    height: px2rem(43);
    display: flex;
    justify-content: flex-end;
    .car {
      border: none;
    }
  }
}
</style>