<template>
<div class="message">

    <h1>联系方式</h1>
    
    <van-cell title="客服电话"  >
        
        <div>周一至周日 8:00-23:00</div>
       
  <!-- 使用 right-icon 插槽来自定义右侧图标 -->
  <template #right-icon>
    <van-icon name="search" class="phone-circle-o" />
  </template>
</van-cell>


<van-cell title="门店地址"  >
        <div>江苏省南京市建邺区千峰南京校区</div>
  <!-- 使用 right-icon 插槽来自定义右侧图标 -->
  <template #right-icon>
    <van-icon name="search" class="location-o" />
  </template>
</van-cell>
    </div>

</template>
<script>
export default {
}
</script>
<style lang="scss" scoped>
.message{


.van-cell__title, .van-cell__value{
    height:400px;
    font-size:20px;
    div{ 
        font-size:20px;
    }
}
}

</style>