<template>
<div class="about">
    <!-- NavBar导航栏 -->
   <van-nav-bar title="活动" left-text="返回" left-arrow>
  <template #right>
    <van-icon name="search" size="18" />
  </template>
</van-nav-bar>

    <!-- image 图片 -->
    <van-image
        width="100%"
        height="400"
        alt="京西商城"
        src="https://img01.yzcdn.cn/vant/cat.jpeg"
    />
    <h1 class="font">商城介绍</h1>
    <span class="title">
        京西商城是中国的综合网络零售商，
        是中国电子商务领域受消费者欢迎和具有影响力的电子商务网站之一，
        在线销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、
        食品、在线旅游等12大类数万个品牌百万种优质商品。
    </span>
</div>
</template>
<script>
export default {
}
</script>
<style  lang="scss" scoped>
   .about{
       .van-nav-bar{
        background:lightblue;
        height:50px;
      }
       .font{color:#000;font-size:30px;}
       .title{color:#000;font-size:20px}
    
   }
</style>